@import '_colors.scss';
@import '_reset.scss';


body {
    background-color: $primary-color;
}


/* --------------------Navigation----------------- */

.nav {
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 8vh;
    background-color: $primary-color;

        .nav__logo {
            margin-left: 50px;
            margin-top: 30px;

                .nav__logo-fill {
                    width: auto;
                    height: auto;
                }

        }

        .nav__list {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;
            margin-left: 50px;
            background-color: $primary-color;
            transform: translateX(0%);           

                .nav__list-item {
                    margin-right: 50px;
                    margin-top: 30px;
                    cursor: pointer;

                        .nav__list-a {
                            color: $font-white;
                            text-decoration: none;
                            font-weight: 400;
                            text-transform: uppercase;
                            font-size: 3.6rem;
                            transition: 0.3s;
                            position: relative;
                            
                        }
                         
                        .nav__list-a:before {
                            position: absolute;
                            content: '';
                            left: 0;
                            bottom: 0;
                            height: 3px;
                            width: 100%;
                            background: $orange;
                            transform: scaleX(0);
                            transform-origin: right;
                            transition: transform .4s linear;
                            
                        }

                        .nav__list-a:hover:before {
                            transform: scaleX(1);
                            transform-origin: left;
                        }

                        .nav__list-a:hover {
                            color: $orange;
                        }

                }

                
        }

        .nav__burger {
            display: none;
            cursor: pointer;
            transition: all 0.5s ease;

            .line1 {
                width: 40px;
                height: 5px;
                background-color: $font-white;
                margin: 5px;
                transition: all 0.5s ease;
            }

            .line2 {
                width: 50px;
                height: 5px;
                background-color: $orange;
                margin: 5px;
                transition: all 0.5s ease;
            }

            .line3 {
                width: 40px;
                height: 5px;
                background-color: $font-white;
                margin: 5px;
                transition: all 0.5s ease;
            }
            
        }
}

/* -------------------Header---------------------- */
.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: $primary-color;
    overflow-x: hidden;

        .header__intro {
            position: relative;
            top: 20vh;

            
            .header__txt {
                color: $font-white;
                font-size: 8rem;
                font-weight: 600;
                text-transform: uppercase;
                margin-left: 50px;
            }

            .header__txt--active {
                animation: textToRight 1s cubic-bezier(0.61, 0.07, 0.49, 1.31) forwards;
                animation-delay: 3s;
                
            }

            .header__txt-clr {
                margin: 0;
                animation: changeColor .5s ease-out 2s forwards;
                font-style: normal;
            }

            .header__txt--slide-in {
                /*transform: translateX(-100%);*/
                opacity: 0;
                animation: txtSlideIn 2s ease-in .5s forwards;
            }

            .header__line {
                
                width: 620px;
                height: 5px;
                background-color: $orange;
                margin-left: 50px;
            }

            .header__about {
                color: $font-white;
                margin-left: 80px;
                margin-top: 15px;
                font-weight: 600;
                font-size: 2.4rem;
            }

            .header__cntr {
                margin-top: 40px;
                margin-left: 50px;
                width: 620px;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                    .btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 154px;
                        height: 50px;
                        background-color: $primary-color;
                        border: 3px solid $orange;
                        border-radius: 3px;
                        font-size: 2.4rem;
                        font-weight: 500;
                        color: $orange;
                        text-transform: uppercase;
                        transition: color 0.2s ease-out;
                            
                            &:hover {
                                background-color: $orange;
                                color: $primary-color;
                                font-weight: bold;
                            }

                           
                    }
            }
        }      
}



/* -----------------Media Queries------------------- */
@media screen and (max-width: 1024px) {

    .nav {

        .nav__logo {
            margin-left: 50px;
            margin-top: 30px;

                .nav__logo-fill {
                    width: auto;
                    height: 50px;
                }

        }

        .nav__list {

            .nav__list-item {

                .nav__list-a {
                    font-size: 2.8rem;
                }
            
            }

        }
    }
}

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    .nav {

        .nav__list {
            position: absolute;
            right: 0px;
            height: 92vh;
            top: 12vh;
            padding-top: 40px;
            margin-left: 0;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 50%;
            background-color: $primary-color;
            transform: translateX(100%);
            transition: transform 0.4s ease-in;

                .nav__list-item {
                    margin-right: 0;
                }
            
        }

        .nav__burger {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 45px;
            margin-top: 30px;
            
        }

        .nav__active {
            transform: translateX(0%);
        }
    }

    .header {
    
            .header__intro {
                position: relative;
                top: 20vh;
    
                
                .header__txt {
                    font-size: 6rem;
                    margin-left: 50px;
                }
    
                .header__txt-clr {
                    margin: 0;
                    animation: changeColor .5s ease-out 2s forwards;
                    font-style: normal;
                }

                .header__line {
                    width: 450px;
                    height: 5px;
                    background-color: $orange;
                    margin-left: 50px;
                }

                .header__about {
                    margin-left: 70px;
                    margin-top: 15px;
                    font-size: 1.8rem;
                }

                .header__cntr {
                    margin-top: 40px;
                    margin-left: 50px;
                    width: 450px;
    
                        .btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 154px;
                            height: 50px;
                            background-color: $primary-color;
                            border: 3px solid $orange;
                            border-radius: 3px;
                            font-size: 2.4rem;
                            font-weight: 500;
                            color: $orange;
                            text-transform: uppercase;
                        }
                }
            }

            
            
    }
    
}

@media screen and (max-width:425px) {

    .nav {

        .nav__logo {
            margin-left: 25px;
            margin-top: 10px;
    
                .nav__logo-fill {
                    width: auto;
                    height: 50px;
                }
    
        }
    
        .nav__list {

            width: 100%;
    
            .nav__list-item {
    
                .nav__list-a {
                    font-size: 2.8rem;
                }
                
            }
    
        }

        .nav__burger {

            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 20px;
            margin-top: 10px;
            
        }
    }

    .header {
    
            .header__intro {
                position: relative;
                top: 18vh;
    
                
                .header__txt {
                    font-size: 3.2rem;
                    margin-left: 25px;
                }
    
                .header__txt-clr {
                    margin: 0;
                    animation: changeColor .5s ease-out 2s forwards;
                    font-style: normal;
                }

                .header__line {
                    width: 240px;     
                    margin-left: 25px;
                }

                .header__about {
                    margin-left: 40px;
                    margin-top: 15px;
                    font-size: 1.8rem;
                    max-width: 20ch;
                }

                .header__cntr {
                    margin-top: 20px;
                    margin-left: 25px;
                    width: 240px;
    
                        .btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 154px;
                            height: 50px;
                            background-color: $primary-color;
                            border: 3px solid $orange;
                            border-radius: 3px;
                            font-size: 2.4rem;
                            font-weight: 500;
                            color: $orange;
                            text-transform: uppercase; 
                            transition: color 0.4s ease-in;
                        }

                }

                
            }
            
    }
}

@media screen and (max-width:340px) {

    .header {
    
            .header__intro {
                position: relative;
                top: 18vh;
    
                
                .header__txt {
                    font-size: 3.2rem;
                    margin-left: 25px;
                }
    
                .header__txt-clr {
                    margin: 0;
                }

                .header__line {
                    width: 240px;
                    margin-left: 25px;
                }
            }
            
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-11px,10px);
}

.toggle .line2 {
    opacity: 0;
    transform: translateX(100%);
}

.toggle .line3 {
    transform: rotate(45deg) translate(-11px,-10px);
}


@keyframes textToRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(8%);
    }
}

@keyframes changeColor {
    from {
        color: $font-white;
    }
    to {
        color: $orange;
    }
}

@keyframes txtSlideIn {
    from {
        /*transform: translateX(-100%);*/
        opacity: 0;
    }
    to {
        /*transform: translateX(0);*/
        opacity: 1;
    }
}
