/* font colors*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: atten-new, sans-serif;
  text-decoration: none;
  font-size: 10px;
  scroll-behavior: smooth; }

body {
  background-color: #252525; }

/* --------------------Navigation----------------- */
.nav {
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 8vh;
  background-color: #252525; }
  .nav .nav__logo {
    margin-left: 50px;
    padding: 10px 0; }
    .nav .nav__logo .nav__logo-fill {
      width: auto;
      height: auto; }
  .nav .nav__list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
    background-color: #252525;
    transform: translateX(0%); }
    .nav .nav__list .nav__list-item {
      margin-right: 50px;
      margin-top: 30px;
      cursor: pointer; }
      .nav .nav__list .nav__list-item .nav__list-a {
        color: #FEFEFE;
        text-decoration: none;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 3.6rem;
        transition: 0.3s;
        position: relative; }
      .nav .nav__list .nav__list-item .nav__list-a:before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        background: #FF9E00;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .4s linear; }
      .nav .nav__list .nav__list-item .nav__list-a:hover:before {
        transform: scaleX(1);
        transform-origin: left; }
      .nav .nav__list .nav__list-item .nav__list-a:hover {
        color: #FF9E00; }
  .nav .nav__burger {
    display: none;
    cursor: pointer;
    transition: all 0.5s ease; }
    .nav .nav__burger .line1 {
      width: 40px;
      height: 5px;
      background-color: #FEFEFE;
      margin: 5px;
      transition: all 0.5s ease; }
    .nav .nav__burger .line2 {
      width: 50px;
      height: 5px;
      background-color: #FF9E00;
      margin: 5px;
      transition: all 0.5s ease; }
    .nav .nav__burger .line3 {
      width: 40px;
      height: 5px;
      background-color: #FEFEFE;
      margin: 5px;
      transition: all 0.5s ease; }

/* -------------------Header---------------------- */
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #252525;
  overflow-x: hidden; }
  .header .header__intro {
    position: relative;
    top: 20vh; }
    .header .header__intro .header__txt {
      color: #FEFEFE;
      font-size: 8rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-left: 50px; }
    .header .header__intro .header__txt--active {
      animation: textToRight 1s cubic-bezier(0.61, 0.07, 0.49, 1.31) forwards;
      animation-delay: 3s; }
    .header .header__intro .header__txt-clr {
      margin: 0;
      animation: changeColor .5s ease-out 2s forwards;
      font-style: normal; }
    .header .header__intro .header__txt--slide-in {
      /*transform: translateX(-100%);*/
      opacity: 0;
      animation: txtSlideIn 2s ease-in .5s forwards; }
    .header .header__intro .header__line {
      width: 620px;
      height: 5px;
      background-color: #FF9E00;
      margin-left: 50px; }
    .header .header__intro .header__about {
      color: #FEFEFE;
      margin-left: 80px;
      margin-top: 15px;
      font-weight: 600;
      font-size: 2.4rem; }
    .header .header__intro .header__cntr {
      margin-top: 40px;
      margin-left: 50px;
      width: 620px;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .header__intro .header__cntr .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 154px;
        height: 50px;
        background-color: #252525;
        border: 3px solid #FF9E00;
        border-radius: 3px;
        font-size: 2.4rem;
        font-weight: 500;
        color: #FF9E00;
        text-transform: uppercase;
        transition: color 0.2s ease-out; }
        .header .header__intro .header__cntr .btn:hover {
          background-color: #FF9E00;
          color: #252525;
          font-weight: bold; }

/* -------------------Main------------------------ */
.projects {
  background-color: #373737;
  width: 100%;
  height: auto;
  padding-top: 8vh; }
  .projects .projects__header {
    color: #FEFEFE;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 4.8rem;
    font-weight: 500;
    text-transform: uppercase; }
  .projects .projects__wrapper {
    width: 100%;
    margin-top: 40px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .projects .projects__wrapper .projects__item {
      background-image: url(../images/blackjack.jpg);
      background-size: cover;
      background-position: center;
      margin: 10px 8px;
      background-color: #00B4D8;
      width: 420px;
      height: 280px; }
      .projects .projects__wrapper .projects__item .projects__overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(5px);
        opacity: 0;
        transition: 0.2s ease-in; }
        .projects .projects__wrapper .projects__item .projects__overlay:hover {
          opacity: 1; }
        .projects .projects__wrapper .projects__item .projects__overlay .projects__title {
          color: #FEFEFE;
          font-size: 3rem;
          font-weight: 600;
          margin-top: 20px;
          text-transform: uppercase; }
        .projects .projects__wrapper .projects__item .projects__overlay .projects__about {
          color: #FEFEFE;
          font-size: 1.6rem;
          margin: 10px 5px;
          text-transform: uppercase; }
        .projects .projects__wrapper .projects__item .projects__overlay .projects__btn {
          color: #FEFEFE;
          text-decoration: underline;
          text-transform: uppercase;
          font-size: 1.6rem;
          margin-top: 20px; }
    .projects .projects__wrapper .img2 {
      background-image: url(../images/dude.jpg); }
    .projects .projects__wrapper .img3 {
      background-image: url(../images/dude.jpg); }
    .projects .projects__wrapper .img3 {
      background-image: url(../images/dude.jpg); }
    .projects .projects__wrapper .img4 {
      background-image: url(../images/dude.jpg); }
    .projects .projects__wrapper .img5 {
      background-image: url(../images/dude.jpg); }
    .projects .projects__wrapper .img6 {
      background-image: url(../images/dude.jpg); }

.about {
  padding-top: 8vh;
  background-color: #FEFEFE;
  width: 100%;
  height: 100vh; }
  .about .about__title {
    padding-top: 40px;
    font-size: 4.8rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase; }
  .about .about__container {
    margin-top: 40px; }
    .about .about__container .about__txt {
      font-size: 2.4rem;
      font-weight: 400; }

.skills {
  padding-top: 8vh;
  background-color: #FEFEFE; }
  .skills .skills__header {
    font-size: 4.8rem;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0; }
  .skills .skills__container {
    margin: 0 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 6.5%;
    justify-content: space-evenly;
    padding-bottom: 80px; }
    .skills .skills__container .skills__img {
      width: 20%;
      height: auto;
      margin-bottom: 40px; }

.contact {
  position: relative;
  background-color: #252525;
  width: 100%;
  height: auto;
  padding-top: 8vh; }
  .contact .contact__tri {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }
  .contact .contact__title {
    color: #FEFEFE;
    padding-top: 40px;
    font-size: 4.8rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase; }
  .contact .contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contact .contact__wrapper .contact__txt {
      color: #FEFEFE;
      font-size: 2.8rem;
      font-weight: 400;
      margin-top: 25px;
      text-align: center; }
  .contact .contact__some {
    display: flex;
    justify-content: center; }
    .contact .contact__some .contact__some-icon {
      width: 50px;
      margin: 45px 32px; }
  .contact .contact__container form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contact .contact__container form input {
      width: 812px;
      height: 50px;
      font-size: 1.8rem;
      border: none;
      margin-bottom: 8px;
      padding-left: 8px;
      padding-bottom: 10px; }
    .contact .contact__container form textarea {
      font-size: 1.8rem;
      width: 812px;
      min-height: 250px;
      max-height: 400px;
      height: 330px;
      border: none;
      padding-left: 8px;
      padding-top: 8px;
      margin-bottom: 40px;
      resize: vertical; }
    .contact .contact__container form ::placeholder {
      font-size: 1.8rem; }
    .contact .contact__container form .contact__btn {
      background-color: #252525;
      width: 154px;
      height: 50px;
      border: 3px solid #FF9E00;
      border-radius: 3px;
      font-size: 2.4rem;
      font-weight: 500;
      color: #FF9E00;
      text-transform: uppercase;
      transition: color 0.2s ease-out;
      margin-bottom: 220px;
      cursor: pointer; }
      .contact .contact__container form .contact__btn:hover {
        background-color: #FF9E00;
        color: #252525;
        font-weight: bold; }

.footer {
  width: auto;
  height: 10vh;
  border-top: 6px solid #FF9E00;
  width: auto;
  margin: 0 140px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .footer__description {
    color: #FEFEFE;
    font-size: 2.8rem;
    font-weight: 400;
    text-align: center;
    vertical-align: middle; }

/*#region -----------------Media Queries------------------- */
@media screen and (max-width: 1024px) {
  .nav .nav__logo {
    margin-left: 50px;
    margin-top: 30px; }
    .nav .nav__logo .nav__logo-fill {
      width: auto;
      height: 50px; }
  .nav .nav__list .nav__list-item .nav__list-a {
    font-size: 2.8rem; }

  .skills .skills__header {
    font-size: 4.8rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px; }
  .skills .skills__container {
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 6.5%;
    justify-content: space-evenly;
    padding-bottom: 80px; }
    .skills .skills__container .skills__img {
      width: 20%;
      height: auto;
      margin-bottom: 40px; }

  .footer {
    margin: 0 100px; }
    .footer .footer__description {
      font-size: 2.8rem; } }
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; }

  .nav .nav__list {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    padding-top: 40px;
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    background-color: #252525;
    transform: translateX(100%);
    transition: transform 0.4s ease-in; }
    .nav .nav__list .nav__list-item {
      margin-right: 0; }
  .nav .nav__burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 45px;
    margin-top: 30px; }
  .nav .nav__active {
    transform: translateX(0%); }

  .header .header__intro {
    position: relative;
    top: 20vh; }
    .header .header__intro .header__txt {
      font-size: 6rem;
      margin-left: 50px; }
    .header .header__intro .header__txt-clr {
      margin: 0;
      animation: changeColor .5s ease-out 2s forwards;
      font-style: normal; }
    .header .header__intro .header__line {
      width: 450px;
      height: 5px;
      background-color: #FF9E00;
      margin-left: 50px; }
    .header .header__intro .header__about {
      margin-left: 70px;
      margin-top: 15px;
      font-size: 1.8rem; }
    .header .header__intro .header__cntr {
      margin-top: 40px;
      margin-left: 50px;
      width: 450px; }
      .header .header__intro .header__cntr .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 154px;
        height: 50px;
        background-color: #252525;
        border: 3px solid #FF9E00;
        border-radius: 3px;
        font-size: 2.4rem;
        font-weight: 500;
        color: #FF9E00;
        text-transform: uppercase; }

  .projects .projects__header {
    padding-top: 80px;
    font-size: 4.8rem; }
  .projects .projects__wrapper {
    margin: 0;
    margin-top: 40px;
    padding-bottom: 80px; }
    .projects .projects__wrapper .projects__item {
      width: 340px;
      height: 220px; }
      .projects .projects__wrapper .projects__item .projects__overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(5px);
        opacity: 0;
        transition: 0.2s ease-in; }
        .projects .projects__wrapper .projects__item .projects__overlay .projects__title {
          font-size: 2.4rem; }
        .projects .projects__wrapper .projects__item .projects__overlay .projects__about {
          font-size: 1.4rem; }
        .projects .projects__wrapper .projects__item .projects__overlay .projects__btn {
          font-size: 1.4rem; }

  .skills .skills__header {
    font-size: 4.8rem;
    margin-bottom: 40px; }
  .skills .skills__container {
    margin: 0 50px;
    gap: 6.5%; }
    .skills .skills__container .skills__img {
      width: 20%;
      height: auto;
      margin-bottom: 40px; }

  .contact .contact__title {
    font-size: 4.8rem;
    /*padding-top: 140px;*/ }
  .contact .contact__wrapper {
    margin: 0 45px; }
    .contact .contact__wrapper .contact__txt {
      font-size: 1.6rem;
      width: auto; }
  .contact .contact__some {
    display: flex;
    justify-content: center; }
    .contact .contact__some .contact__some-icon {
      width: 50px;
      margin: 45px 32px; }
  .contact .contact__container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px; }
    .contact .contact__container form input {
      width: 100%;
      height: 50px;
      font-size: 1.8rem;
      border: none;
      margin-bottom: 8px;
      padding-left: 8px;
      padding-bottom: 10px; }
    .contact .contact__container form textarea {
      font-size: 1.8rem;
      width: 100%;
      min-height: 250px;
      max-height: 400px;
      height: 330px;
      border: none;
      padding-left: 8px;
      padding-top: 8px;
      margin-bottom: 40px;
      resize: vertical; }
    .contact .contact__container form ::placeholder {
      font-size: 1.8rem; }
    .contact .contact__container form .contact__btn {
      background-color: #252525;
      width: 154px;
      height: 50px;
      border: 3px solid #FF9E00;
      border-radius: 3px;
      font-size: 2.4rem;
      font-weight: 500;
      color: #FF9E00;
      text-transform: uppercase;
      transition: color 0.2s ease-out;
      margin-bottom: 220px;
      cursor: pointer; }

  .footer {
    margin: 0 50px; }
    .footer .footer__description {
      font-size: 2.4rem; } }
@media screen and (max-width: 430px) {
  .nav .nav__logo {
    margin-left: 25px;
    margin-top: 10px; }
    .nav .nav__logo .nav__logo-fill {
      width: auto;
      height: 50px; }
  .nav .nav__list {
    width: 100%; }
    .nav .nav__list .nav__list-item .nav__list-a {
      font-size: 2.8rem; }
  .nav .nav__burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px; }

  .header .header__intro {
    position: relative;
    top: 18vh; }
    .header .header__intro .header__txt {
      font-size: 3.2rem;
      margin-left: 25px; }
    .header .header__intro .header__txt-clr {
      margin: 0;
      animation: changeColor .5s ease-out 2s forwards;
      font-style: normal; }
    .header .header__intro .header__line {
      width: 240px;
      margin-left: 25px; }
    .header .header__intro .header__about {
      margin-left: 40px;
      margin-top: 15px;
      font-size: 1.8rem;
      max-width: 20ch; }
    .header .header__intro .header__cntr {
      margin-top: 20px;
      margin-left: 25px;
      width: 240px; }
      .header .header__intro .header__cntr .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 154px;
        height: 50px;
        background-color: #252525;
        border: 3px solid #FF9E00;
        border-radius: 3px;
        font-size: 2.4rem;
        font-weight: 500;
        color: #FF9E00;
        text-transform: uppercase;
        transition: color 0.4s ease-in; }

  .projects .projects__header {
    padding-top: 40px;
    font-size: 2.4rem; }
  .projects .projects__wrapper {
    margin: 0;
    margin-top: 40px;
    padding-bottom: 80px; }
    .projects .projects__wrapper .projects__item {
      width: 340px;
      height: 220px; }
      .projects .projects__wrapper .projects__item .projects__overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(5px);
        opacity: 0;
        transition: 0.2s ease-in; }
        .projects .projects__wrapper .projects__item .projects__overlay .projects__title {
          font-size: 2.4rem; }
        .projects .projects__wrapper .projects__item .projects__overlay .projects__about {
          font-size: 1.4rem; }
        .projects .projects__wrapper .projects__item .projects__overlay .projects__btn {
          font-size: 1.4rem; }

  .about {
    background-color: #FEFEFE;
    width: 100%;
    height: 100vh; }
    .about .about__title {
      padding-top: 40px;
      font-size: 2.4rem; }

  .skills .skills__header {
    font-size: 2.4rem;
    margin-bottom: 40px; }
  .skills .skills__container {
    margin: 0 25px;
    padding-bottom: 40px;
    gap: 10%; }
    .skills .skills__container .skills__img {
      width: 45%;
      height: auto;
      margin-bottom: 40px; }

  .contact .contact__title {
    font-size: 2.4rem;
    /*padding-top: 76px;*/ }
  .contact .contact__wrapper {
    margin: 0 25px; }
    .contact .contact__wrapper .contact__txt {
      font-size: 1.6rem;
      width: auto; }
  .contact .contact__some {
    display: flex;
    justify-content: center; }
    .contact .contact__some .contact__some-icon {
      width: 50px;
      margin: 25px 32px; }
  .contact .contact__container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px; }
    .contact .contact__container form input {
      width: 100%;
      height: 50px;
      font-size: 1.8rem;
      border: none;
      margin-bottom: 8px;
      padding-left: 8px;
      padding-bottom: 10px; }
    .contact .contact__container form textarea {
      font-size: 1.8rem;
      width: 100%;
      min-height: 250px;
      max-height: 400px;
      height: 200px;
      border: none;
      padding-left: 8px;
      padding-top: 8px;
      margin-bottom: 40px;
      resize: vertical; }
    .contact .contact__container form ::placeholder {
      font-size: 1.8rem; }
    .contact .contact__container form .contact__btn {
      background-color: #252525;
      width: 154px;
      height: 50px;
      border: 3px solid #FF9E00;
      border-radius: 3px;
      font-size: 2.4rem;
      font-weight: 500;
      color: #FF9E00;
      text-transform: uppercase;
      transition: color 0.2s ease-out;
      margin-bottom: 100px;
      cursor: pointer; }

  .footer {
    margin: 0 25px; }
    .footer .footer__description {
      font-size: 2rem;
      max-width: 18ch; } }
@media screen and (max-width: 340px) {
  .header .header__intro {
    position: relative;
    top: 18vh; }
    .header .header__intro .header__txt {
      font-size: 3.2rem;
      margin-left: 25px; }
    .header .header__intro .header__txt-clr {
      margin: 0; }
    .header .header__intro .header__line {
      width: 240px;
      margin-left: 25px; }

  .projects .projects__header {
    padding-top: 40px;
    font-size: 2rem; }
  .projects .projects__wrapper {
    margin: 0;
    margin-top: 20px;
    padding-bottom: 80px; }
    .projects .projects__wrapper .projects__item {
      width: 280px;
      height: 180px; }
      .projects .projects__wrapper .projects__item .projects__overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(5px);
        opacity: 0;
        transition: 0.2s ease-in; }
        .projects .projects__wrapper .projects__item .projects__overlay .projects__title {
          font-size: 2rem; }
        .projects .projects__wrapper .projects__item .projects__overlay .projects__about {
          font-size: 1.4rem; }
        .projects .projects__wrapper .projects__item .projects__overlay .projects__btn {
          font-size: 1.4rem; }

  .contact .contact__title {
    font-size: 2.4rem;
    padding-top: 76px; }
  .contact .contact__wrapper {
    margin: 0 25px; }
    .contact .contact__wrapper .contact__txt {
      font-size: 1.6rem;
      width: auto; }
  .contact .contact__some {
    display: flex;
    justify-content: center; }
    .contact .contact__some .contact__some-icon {
      width: 50px;
      margin: 25px 32px; }
  .contact .contact__container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px; }
    .contact .contact__container form input {
      width: 100%;
      height: 50px;
      font-size: 1.8rem;
      border: none;
      margin-bottom: 8px;
      padding-left: 8px;
      padding-bottom: 10px; }
    .contact .contact__container form textarea {
      font-size: 1.8rem;
      width: 100%;
      min-height: 100px;
      max-height: 400px;
      height: 200px;
      border: none;
      padding-left: 8px;
      padding-top: 8px;
      margin-bottom: 40px;
      resize: vertical; }
    .contact .contact__container form ::placeholder {
      font-size: 1.8rem; }
    .contact .contact__container form .contact__btn {
      background-color: #252525;
      width: 154px;
      height: 50px;
      border: 3px solid #FF9E00;
      border-radius: 3px;
      font-size: 2.4rem;
      font-weight: 500;
      color: #FF9E00;
      text-transform: uppercase;
      transition: color 0.2s ease-out;
      margin-bottom: 100px;
      cursor: pointer; } }
/*#endregion*/
/*#region ------------Burger Toggle------------ */
.toggle .line1 {
  transform: rotate(-45deg) translate(-11px, 10px); }

.toggle .line2 {
  opacity: 0;
  transform: translateX(100%); }

.toggle .line3 {
  transform: rotate(45deg) translate(-11px, -10px); }

/*#endregion*/
/*#region ----------Keyframes-------------- */
@keyframes textToRight {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(8%); } }
@keyframes changeColor {
  from {
    color: #FEFEFE; }
  to {
    color: #FF9E00; } }
@keyframes txtSlideIn {
  from {
    /*transform: translateX(-100%);*/
    opacity: 0; }
  to {
    /*transform: translateX(0);*/
    opacity: 1; } }
/*#endregion*/

/*# sourceMappingURL=stylesheet.css.map */
